.env
.env.*
!.env.example

__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/
.hypothesis/
.nox/
.tox/
.cache/
.coverage
.coverage.*
htmlcov/

.venv/
venv/
env/

build/
build_logs/
dist/

logs/
tmp_*.log
job-*-logs.txt
job-*-logs.zip

.idea/
.vscode/
.DS_Store
Thumbs.db

*.spec
*.egg-info/
pip-wheel-metadata/
